<h2> Login Page </h2>

<form class="form" action="/login" method="post">
    <input type="text" name="email" value="" placeholder="email">
    <input type="password" name="password" value="" placeholder="password">
    <input type="submit" value="Login">
</form>
